canvas {
    border: 1px solid black;
}
.setting {
    position: relative;
    top: 810px;
    visibility: hidden;
}
.hintSetting {
    position: absolute;
    left: 1212px;
    visibility: hidden;
}
.hint {
    position: absolute;
    top: 800px;
    visibility: visible;
}
canvas {
    visibility: visible;
    position: absolute;
    top:8px;
    left:8px;
    z-index: 0;
}
.image {
    position: absolute;
    top:8px;
    left:8px;
    width: 1200px;
    height: 800px;
    visibility: hidden;
    z-index: 1;
}
.overlay {
    visibility: hidden;
    position: absolute;
    top:8px;
    left:8px;
    width: 1200px;
    height: 800px;
    background: transparent;
    z-index: 2;
}
body {
    margin:8px;
}